#jumbohome {
    background-image:url(gambar/hellocodeblur.png);
    background-size: cover;
    height: 550px;
    min-height: 760px;


}

#jumbohome h1 {
    color: white;
    font-weight: 700;
    text-align: center;
    padding-top: 300px;
}

#jumbohome p {
    color: white;
    text-align: center;
    padding-top: 20px;
    font-size: 25px;
}

#jumbolearn {
    background-image: url(gambar/learncode.png);
    background-size: cover;
    height: 550px;
    min-height: 760px;
}
#jumbolearn h1 {
    color: white;
    font-weight: 700;
    text-align: center;
    padding-top: 300px;
}

#jumbolearn p {
    color : white;
    padding-top: 20px;
    font-size: 25px;
}

#jumboboot {
    background-image: url(gambar/bootcamp.png);
    background-size: cover;
    height: 550px;
    min-height: 760px;
}

#jumboboot h1 {
    color: white;
    font-weight: 700;
    text-align: center;
    padding-top: 300px;
}

#jumboboot p {
    color: white;
    padding-top: 20px;
    font-size: 25px;
}

















h2 {
    font-size: 35px;
    font-family: Roboto,sans-serif
}

p {
    font-size: 18px;
}

.mulaibelajar {
    padding-top: 100px;
    min-height: 650px;
    background-image: url(gambar/bg1.png);
    background-size: cover;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

hr {
    border:         none;
    border-left:    1px solid hsla(200, 10%, 50%,100);
    height:         10vh;
    width:          1px;
}

body {
    font-family: 'Open Sans',sans-serif;
}

.bootcamp{
    background-color: #FAFAFA;
    padding-top: 50px;
    min-height: 500px;
    padding-bottom: 50px;
}

.mading {
    padding-top: 100px;
    min-height: 580px;

    background-image: url(gambar/mading.jpg);

    background-size: cover;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.ceo {
    padding-top: 100px;
    min-height: 580px;
    background-color: #FAFAFA;
}

.ceo img {
    border: 5px solid #333;
    width: 350px;
}

.ceo h3{
    text-align: right;
}

.formsaran{
    padding-top: 150px;
    padding-bottom: 150px;
}



.footerbawah {
    background-color: gray;
    min-height: 100px;
    padding-top: 20px;
}



button{
    width: 200px;
}

.caption {
    padding-bottom: 0;
}


.isi{
    min-height: 580px;
}

.isi img{
    width: 100px;
}

.isi h4{
    font-size: 16px;
}




/* button 3 dimensi */

.btn3d {
    position:relative;
    top: -6px;
    border:0;
    transition: all 40ms linear;
    margin-top:10px;
    margin-bottom:10px;
    margin-left:2px;
    margin-right:2px;
}

.btn3d:active, .btn3d.active {
    top:2px;
}

.btn3d.btn-primary {
    box-shadow:0 0 0 1px #417fbd inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #4D5BBE, 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#4274D7;
}
.btn3d.btn-primary:active, .btn3d.btn-primary.active {
    box-shadow:0 0 0 1px #417fbd inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,0.3);
    background-color:#4274D7;
}








.oaerror {
    width: 90%; /* Configure it fit in your design  */
    margin: 0 auto; /* Centering Stuff */
    background-color: #FFFFFF; /* Default background */
    padding: 20px;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.warning {
    border-left-color: #f0ad4e;
    background-color: rgba(240, 173, 78, 0.1);
}








/*FOOTER START///////////////////*/
.footer {
    padding: 50px 0 20px 0;
    background-color: #090c14;
    color: #878c94;
}
.footer .title{
    text-align: left;
    color:#fff;
    font-size:25px;
}
.footer .social-icon{
    padding:0px;
    margin:0px;
}
.footer .social-icon a{
    display:inline-block;
    color:#fff;
    font-size:25px;
    padding:5px;
}
.footer .acount-icon a{
    display:block;
    color:#fff;
    font-size:18px;
    padding:5px;
    text-decoration:none;
}
.footer .acount-icon .fa{
    margin-right:25px;
}
.footer .category a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 5px 20px;
    margin: 1px;
    border-radius:4px;
    margin-top: 6px;
    background-color: black;
    border: solid 1px #fff;
}
.footer .payment{
    margin:0px;
    padding:0px;
    list-style-type:none
}
.footer .payment li{
    list-style-type:none
}
.footer .payment li a {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    float: left;
    font-size: 25px;
    padding: 10px 10px;
}





























.material-button-anim {
    position: relative;
    padding: 127px 15px 27px;
    text-align: center;
    max-width: 320px;
    margin: 0 auto 20px;
}

.material-button {
    position: relative;
    top: 0;
    z-index: 1;
    width: 70px;
    height: 70px;
    font-size: 1.5em;
    color: #fff;
    background: #2C98DE;
    border: none;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,.275);
    outline: none;
}
.material-button-toggle {
    z-index: 3;
    width: 90px;
    height: 90px;
    margin: 0 auto;
}
.material-button-toggle span {
    -webkit-transform: none;
    transform:         none;
    -webkit-transition: -webkit-transform .175s cubic-bazier(.175,.67,.83,.67);
    transition:         transform .175s cubic-bazier(.175,.67,.83,.67);
}
.material-button-toggle.open {
    -webkit-transform: scale(1.3,1.3);
    transform:         scale(1.3,1.3);
    -webkit-animation: toggleBtnAnim .175s;
    animation:         toggleBtnAnim .175s;
}
.material-button-toggle.open span {
    -webkit-transform: rotate(45deg);
    transform:         rotate(45deg);
    -webkit-transition: -webkit-transform .175s cubic-bazier(.175,.67,.83,.67);
    transition:         transform .175s cubic-bazier(.175,.67,.83,.67);
}

#options {
    height: 70px;
}
.option {
    position: relative;
}
.option .option1,
.option .option2,
.option .option3 {
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -webkit-transition: all .175s;
    transition:         all .175s;
}
.option .option1 {
    -webkit-transform: translate3d(90px,90px,0) scale(.8,.8);
    transform:         translate3d(90px,90px,0) scale(.8,.8);
}
.option .option2 {
    -webkit-transform: translate3d(0,90px,0) scale(.8,.8);
    transform:         translate3d(0,90px,0) scale(.8,.8);
}
.option .option3 {
    -webkit-transform: translate3d(-90px,90px,0) scale(.8,.8);
    transform:         translate3d(-90px,90px,0) scale(.8,.8);
}
.option.scale-on .option1, 
.option.scale-on .option2,
.option.scale-on .option3 {
    filter: blur(0);
    -webkit-filter: blur(0);
    -webkit-transform: none;
    transform:         none;
    -webkit-transition: all .175s;
    transition:         all .175s;
}
.option.scale-on .option2 {
    -webkit-transform: translateY(-28px) translateZ(0);
    transform:         translateY(-28px) translateZ(0);
    -webkit-transition: all .175s;
    transition:         all .175s;
}

@keyframes toggleBtnAnim {
    0% {
        -webkit-transform: scale(1,1);
        transform:         scale(1,1);
    }
    25% {
        -webkit-transform: scale(1.4,1.4);
        transform:         scale(1.4,1.4); 
    }
    75% {
        -webkit-transform: scale(1.2,1.2);
        transform:         scale(1.2,1.2);
    }
    100% {
        -webkit-transform: scale(1.3,1.3);
        transform:         scale(1.3,1.3);
    }
}
@-webkit-keyframes toggleBtnAnim {
    0% {
        -webkit-transform: scale(1,1);
        transform:         scale(1,1);
    }
    25% {
        -webkit-transform: scale(1.4,1.4);
        transform:         scale(1.4,1.4); 
    }
    75% {
        -webkit-transform: scale(1.2,1.2);
        transform:         scale(1.2,1.2);
    }
    100% {
        -webkit-transform: scale(1.3,1.3);
        transform:         scale(1.3,1.3);
    }
}