.jumbotron {
    background-image:url(gambar/hellocodeblur.png);
    background-size: cover;
    height: 550px;
    min-height: 760px;
        
    
}

.jumbotron h1 {
    color: white;
    font-weight: 700;
    text-align: center;
    padding-top: 300px;
}

.jumbotron p {
    color: white;
    text-align: center;
    padding-top: 20px;
    font-size: 20px;
}

h2 {
    font-size: 35px;
    font-family: Roboto,sans-serif
}

p {
    font-size: 18px;
}

.mulaibelajar {
    padding-top: 100px;
    min-height: 650px;
    background-image: url(gambar/bg1.png);
    background-size: cover;
     /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

hr {
    border:         none;
    border-left:    1px solid hsla(200, 10%, 50%,100);
    height:         10vh;
    width:          1px;
}

body {
    font-family: 'Open Sans',sans-serif;
}

.bootcamp{
    background-color: #FAFAFA;
    padding-top: 50px;
    min-height: 500px;
    padding-bottom: 50px;
}

.mading {
    padding-top: 100px;
    min-height: 580px;

    background-image: url(gambar/mading.jpg);
   
    background-size: cover;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    
}

.ceo {
    padding-top: 100px;
    min-height: 580px;
    background-color: #FAFAFA;
}

.ceo img {
    border: 5px solid #333;
    width: 300px;
}

h3{
    text-align: right;
}